@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'valorax';
    src: url('../resources/fonts/valorax.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'astroid';
    src: url('../resources/fonts/astroid.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'fixedsys';
    src: url('../resources/fonts/fixedfixedsys-extended-fs.ttf');
    font-weight: normal;
    font-style: normal;
  }